*
{
	margin: 0;
	padding: 0;
	height: 100vh;
}
#particles-js{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.jpg);
	height: 100%;
	background-size: cover;
	background-position: center;
}